

h1 { 
	text-align: center;
	color: black;
	font-size: 40px;
	font-family: Segoe UI;

 }

 h2 {
 	text-align: center;
	color: black;
	font-size: 30px;
	font-family: Arial;
 }

 hr {
 	border-color:#264270;
 	width: 50%;
 	/*margin-left: 25%;
 	position: fixed;*/

 }

body {
	/*background-color: #5075b2;*/
	background-color: #69C9E0;
	transition: 0.5s;
	overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}



.pcard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 250px;
	height: 250px;
	background-color: #92f4ac;
	border-radius: 0 30px 30px 30px;
	margin: 30px;
	display: inline-block;
	text-align: center;
}

.pcard:hover {
	box-shadow: 0 4px 8px 6px rgba(0,0,0,0.2);
}

.cimg {
	width: 100%;
	height:75%;
	border-radius: 0 30px 0 0;
}


.container {
    padding: 2px 16px;
    
}

.ctitle {
	font-family: Verdana;
}

.menu-bar {
	text-align: center;
}

.menu-item {
	font-size: 30px;
	font-family: Verdana;
	text-align: center;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}

.menu-item:hover {
	color: white;
	cursor: pointer;
	/*-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;*/
}

.scroll-block {
	width: 300px;
	height: 600px;
	overflow-y: scroll;
}

.card-block{
	
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
/*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: #264270;
    border-radius: 5px;
}


.left-arrow, .right-arrow {
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	/*background-color: pink;*/
	opacity: .3;
	border-radius: 50px;
	margin-top: 10%;
	transition: 0.5s;
}
.left-arrow {float: left;}
.right-arrow {float: right;}

.left-arrow:hover, .right-arrow:hover{
	/*background-color: red;*/
	filter: brightness(75%);
	cursor:pointer;
}

.left-arrow.hide, .right-arrow.hide{
	opacity: 0;
	visibility: hidden;
}

.page {
	transition: all 0.5s;
	margin-left: 50px;
	margin-right: 50px;
	/*display: inline-block;*/
	/*position: relative;*/
}

.page.hide {
	/*opacity: 0;*/
	position: absolute;
	visibility: hidden;
	/*transform: translate(200%,0px);*/
}

.text-block {
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	padding-left: 300px;
	padding-right: 300px;
	line-height: 35px;

}